h1 {
    color: red;
    margin-left: 30px;
    font-size: 50px;
}

h2 {
    color: white;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 150px 80px;
}

span {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(Netflixbg.jpg);
}

button {
    background-color: red;
    padding: 13px 45px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 1000;
}

.sign {
    background-color: red;
    padding: 2px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 1000;
}
button:hover {
    background-color: black;
}
input {
    background-color: rgb(29, 28, 28);
    padding: 12px 200px 12px 10px;
    border: 1px solid rgb(109, 107, 107);
    border-radius: 5px;
    color: white;
    font-size: 19px;
    text-align: left;
}

input:hover {
    background-color: rgb(41, 45, 48);
}