body {
    background-image: url(../images/about-banner-1080x357-removebg-preview.png);
    background-color: rgb(233, 233, 233);
    background-repeat: no-repeat;
    background-position: 600px 0px ;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 1300px;
    display: block;
    padding: 0;
    margin: 0;
}

.heading {
    color: rgb(158, 121, 74);
    padding-top: 50px;
}

.text1 {
    color: rgb(71, 71, 71);
    margin-bottom: 30px;
}

.box1 {
    position: absolute;
    left: 250px;
    top: 50px;
}

.btn {
    border: 2px solid rgb(158, 121, 74);
    border-radius: 30px;
    padding: 5px 25px;
    margin-top: 20px;
    position: absolute;
    left: 0;
}

button > a {
    text-decoration: none;
    color: rgba(105, 105, 105, 0.7);
}

.gallery {
    float: left;
    margin-top: 110px;
    margin-right: 30px;
    text-align: center;
    background-color: white;
    padding: 10px;
    width: 330px;
    height: 270px;
}

.headingofGly {
    color: black;
    font-size: 23px;
    font-weight: bold;
}

.desofGly {
    color:rgba(105, 105, 105, 0.7);
    font-style: italic;
    font-size: 16px;
}

img[alt="Apple Drink"] {
    width: 120px;
    margin-top: 50px;
}

img[alt="Meal"] {
    width: 68px;
    margin-top: 50px;
}

img[alt="Fruit"] {
    width: 68px;
    margin-top: 50px;
}

.SecondPage {
    background-color: white;
    margin-top: 770px;
    height: 780px;
    text-align: center;
}

.imageGallery {
    float: left;
    margin-right: 10px;
    margin-bottom: 3px;
}

.imageGallery > img {
    width: 300px;
    height: 270px;
}

.box2 {
    width: 950px;
    margin: auto;
}

.ThirdPage {
    background-color: rgb(233, 233, 233);
    margin-top: 20px;
    height: 600px;
    text-align: center;
}

.box3 {
    margin-top: 20px;
    width: 1200px;
    position: absolute;
    left: 250px;
}

.textbox {
    text-align: start;
    float: left;
    margin-right: 70px;
    height: 350px;
}

.textbox > h3 {
    color: rgb(39, 39, 39);
}

.textbox > p {
    color:rgb(105, 105, 105);
    font-style: italic;
    font-size: 17px;
    line-height: 23px;
}

.btn2 {
    border: 2px solid rgb(158, 121, 74);
    border-radius: 30px;
    padding: 5px 25px;
    margin-top: 20px;
    position: absolute;
    left: 480px;
    bottom: 0;
    text-align: center;
}

.FourthPage {
    background-color: white;
    height: 400px;
}

.imggallery {
    float: left;
    margin-right: 30px;
    margin-top: -25px;
}

.txtgallery {
    text-align: start;
    float: left;
    border: 3px solid  rgb(158, 121, 74);
    width: 230px;
    height: 245px;
    margin-right: 30px;
    padding: 20px 0px 0px 25px;
    margin-top: -25px;
}

.txtgallery > p {
    font-size: 17px;
    line-height: 23px;
}

.imggallery > img {
    width: 250px;
    height: 270px;
}

.fifthpage {
    background-color: rgb(233, 233, 233);
    margin-top: 0;
    margin-left: 0px;
    padding-top: 8%;
    padding-left: 10%;
    height: 600px;
    text-align: start;
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0;
}

.lasttxt {
    font-size: 15px;
    color: rgb(63, 62, 62);
}

.btn3 {
    border: 2px solid rgb(158, 121, 74);
    border-radius: 30px;
    padding: 5px 25px;
    margin-top: 20px;
    text-align: center;
}

.milkbowl {
    width: 50%;
}

.milkbowl img{
    width: 100%;

}