body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(20, 19, 19);
}

.nav-bar {
    border-bottom: 1px solid rgba(126, 123, 123, 0.651);
}

.active-icon {
    border-bottom: 2px solid blue;
}

.noti-bell-badge-style {
    background-color: red;
    font-size: 50%;
    position: absolute;
    right: 80px;
    top: 10px;
}

.acc-name-1 {
    color: white;
    font-weight: bold;
    margin-left: 3%;
}

.sm-profile-img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 50%;
}

.badge-style {
    background-color: red;
    font-size: 50%;
    margin-top: 1%;
    padding: 4px 6px;
    vertical-align: top;
}

.icon-align {
    font-size: 70%;
    margin-top: 2%;
    vertical-align: top;
}

.user-customize {
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgb(43, 42, 42);
    font-size: 18px;
    padding-left: 7px;
    position: absolute;
    right: 30px;
}

.cover-img img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.main-profile-img img {
    border: 3px solid black;
    width: 33%;
    height: 140px;
    margin-top: -120px;
    margin-left: 5px;
    object-fit: contain;
}

.change-pf-img {
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgb(43, 42, 42);
    position: absolute;
    margin-top: -40px;
    margin-left: 110px;
}

.change-cv-img {
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgb(43, 42, 42);
    position: absolute;
    margin-top: -80px;
    right: 15px;
}


.acc-name-2 {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5%;
}

.bio {
    color: rgb(235, 234, 234);
    margin-left: 5%;
}

.story-btn-style {
    background-color: rgb(8, 64, 184);
    color: white;
    font-size: 80%;
    font-weight: bold;
    margin-left: 2%;
}

.edit-pf-btn-style {
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 80%;
    font-weight: bold;
    margin-left: 1%;
}

.pf-setting-btn-style {
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 80%;
    font-weight: bold;
    margin-left: 1%;
}

.hr {
    color: rgb(102, 102, 102);
    margin: auto;
    margin-top: 15px;
    width: 95%;
}

.information-1 {
    color: rgb(189, 189, 189);
    margin-left: 8px;
    font-size: 17px;
}

.town-name {
    color: white;
}

.information-2 {
    color: rgb(189, 189, 189);
    margin-left: 11px;
    font-size: 17px;
}

.information-3 {
    color: rgb(189, 189, 189);
    margin-left: 8px;
    font-size: 17px;
}

.information-4 {
    color: rgb(189, 189, 189);
    margin-left: 8px;
    font-size: 17px;
}

.dot-icon {
    color: #999797;
    font-weight: bold;
    margin: 2px;
}

.information-5 {
    color: rgb(189, 189, 189);
    margin-left: 6px;
    font-size: 17px;
}

.edit-details-btn {
    background-color: #121838;
    margin-left: 15px;
    padding: 8px 120px;
    color: #7f81f0;
    font-size: 14px;
    font-weight: bold;
}

.activity-profile-img {
    width: 10%;
    margin-left: 5px;
}

.activity-profile-img img{
    background-color: rgb(189, 190, 224);
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.acc-name-3 {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.activity-bar {
    margin-top: 50px;
}

.activity {
    color: rgb(129, 129, 129);
    font-size: 17px;
    padding-right: 10px;
}

.edit-activity {
    color: rgb(129, 129, 129);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 33px;
    margin-top: -28px;
}

.activity-date {
    color: rgb(129, 129, 129);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.dot {
    vertical-align: super;
}

.privacy-icon {
    color: rgb(129, 129, 129);
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
}

.caption {
    color: rgb(230, 230, 230);
    font-size: 16px;
}

.changed-pf-img img{
    width: 90%;
    height: 350px;
    object-fit: cover;
}

.heart-emj {
    width: 35px;
    height: 35px;
    z-index: 1;
}

.like-emj {
    width: 35px;
    height: 35px;
    margin-left: -20px;
}

.react-count {
    margin-top: 6px;
    font-size: 16px;
    color: rgb(129, 129, 129);
}

.hr2 {
    color: rgb(129, 129, 129);
}

.activity-btn {
    background-color: transparent;
    border: none;
    width: 32%;
}

.btn-name {
    color: rgb(129, 129, 129);
    margin-left: 3px;
    font-size: 16px;
}
